.card-date
  display: block
  border-radius: 4px
  padding: 2px 5px
  width: fit-content
  background-color: #FFF4ED
  color : #FF8D38
  font-size: 12px;
  &:hover, &.is-active
    background-color: #FFF4ED

  &.current, &.almost-due
    color: #FF8D38
  &.due, &.long-overdue
    color:#1EC043

  &.current
    background-color: #FFF4ED
    font-size: 12px;
    &:hover, &.is-active
      background-color: darken(#FFF4ED, 10)


  &.almost-due
    font-size: 12px;
    background-color: #EAF7EC
    &:hover, &.is-active
      background-color: darken(#EAF7EC, 10)

  &.due
    background-color: #EAF7EC
    font-size: 12px;
    &:hover, &.is-active
      background-color: darken(#EAF7EC, 10)

  &.long-overdue
    font-size: 12px;
    background-color: #EAF7EC
    &:hover, &.is-active
      background-color: darken(#EAF7EC, 10)

  &.end-date
    time
      &::before
        content: "\f253"  // symbol: fa-hourglass-end

  &.due-date
    time
      &::before
        content: "\f090"  // symbol: fa-sign-in

  &.start-date
    time
      &::before
        content: "\f251"  // symbol: fa-hourglass-start

  &.received-date
    time
      &::before
        content: "\f08b"  // symbol: fa-sign-out

  time
    &::before
      font: normal normal normal 14px/1 FontAwesome
      font-size: inherit
      -webkit-font-smoothing: antialiased
      margin-right: 0.3em

