@import 'nib'

.minicard-wrapper
  cursor: pointer
  position: relative
  display: flex
  align-items: center
  margin-bottom: 10px


  &.placeholder
    background: darken(white, 20%)
    border-radius: 9px

  &.ui-sortable-helper
    cursor: grabbing
    transform: rotate(4deg)
    display: block !important

    .and-n-other
      width: 100%
      height: 16px
      padding: 4px
      background-color: darken(white, 5%)
      text-align: center
      border-radius: 3px

    .multi-selection-checkbox
      display: none

  .multi-selection-checkbox + .minicard
    margin-left: 8px

.minicard
  padding: 10px 10px 4px 10px;
  position: relative
  flex: 1
  flex-wrap: wrap
  background-color: #fff
  min-height: 20px
  border-radius: 7px
  color: #777777
  transition: transform 0.2s
  margin-bottom: 5px


  &.linked-board
  &.linked-card
    .linked-icon
      display: inline-block
      margin-right: 11px
      vertical-align: baseline
      font-size: 0.9em
    .linked-archived
      color: #937760

  .is-selected &
    transform: translateX(11px)
    border-bottom-right-radius: 0
    border-top-right-radius: 0
    z-index: 25
    box-shadow: -2px 1px 2px rgba(0,0,0,.2)

  &:hover:not(.minicard-composer),
  .is-selected &,
  .draggable-hover-card &
    background: darken(white, 3%)

  .draggable-hover-card &
    background: darken(white, 7%)

  .minicard-cover
    background-position: center
    background-repeat: inherit
    background-size: cover
    height: 145px
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    margin: -11px -10px 6px -9px
    border-top-left-radius: 5px
    border-top-right-radius: 5px

  .minicard-labels
    float: none
    display: flex
    flex-wrap: wrap

    .minicard-label
      width: 11px
      height: @width
      border-radius: 2px
      margin-right: 3px
      margin-bottom: 3px

  .minicard-custom-fields
    display:block;
  .minicard-custom-field
    display:flex;
  .minicard-custom-field-item
    flex-grow: 1
    display: block
    word-wrap: break-word
    max-width: 100px
    margin-right: 4px
  .handle
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
    display:none;
    @media only screen {
      display:block;
    }
    .fa-arrows
      font-size:20px;
      color: #ccc;
  .minicard-title
    p:last-child
      margin-bottom: 0
    .viewer
      display: block
      word-wrap: break-word
      max-width: 230px
      font-size:14px
      font-family: Poppins, sans-serif
      font-color:#777777

  .dates
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top:10px
  .date
    margin-right: 3px
    font-family: Poppins, sans-serif
    font-weight: normal
    font-size: 12px

  .badges
    float: left
    margin-top: 7px
    color: darken(white, 50%)

    &:empty
      display: none

    .badge
      float: left
      margin-right: 11px
      margin-bottom: 3px
      font-size: 0.9em
      &.is-finished
         background: #3cb500
         padding: 0px 3px
         border-radius: 3px
         color: white

      &:last-of-type
        margin-right: 0

      .badge-icon,
      .badge-text
        vertical-align: middle
        &.badge-comment
          margin-bottom: 0.1rem

      .badge-text
        font-size: 0.9em
        padding-left: 2px
        line-height: 14px
      .check-list-text
        padding-left: 0px
        line-height: 12px

  .minicard-members,
  .minicard-assignees
    float: right
    margin: 30px -7px -19px 5px

    .member
      float: right
      border-radius: 50%
      height: 28px
      width: @height

    .assignee
      float: right
      border-radius: 50%
      height: 28px
      width: @height

    + .badges
      margin-top: 35px

  .minicard-members:empty,
  .minicard-assignees:empty
    display: none

  &.minicard-composer
    margin-bottom: 10px

    textarea.minicard-composer-textarea,
    textarea.minicard-composer-textarea:focus
      resize: none
      background: none
      border: none
      box-shadow: none
      height: auto
      margin: 0
      padding: 0
      max-height: 162px
      min-height: 36px
      margin-bottom: 20px
      overflow-y: auto

.parent-prefix
  color: darken(white, 30%)
  font-size: 0.9em
.parent-subtext
  color: darken(white, 30%)
  font-size: 0.9em

@media screen and (max-width: 800px)
  .minicard
    .is-selected &
      transform: translateX(0px)
      border-bottom-right-radius: 0
      border-top-right-radius: 0
      z-index: 15
      box-shadow: 0 1px 2px rgba(0,0,0,.15)

minicard-color(background, color...)
  background-color: background
  if color
    color: color //overwrite text for better visibility
  &:hover:not(.minicard-composer),
  .is-selected &,
  .draggable-hover-card &
    background: darken(background, 3%)
  .draggable-hover-card &
    background: darken(background, 7%)

.minicard-green
  minicard-color(#EAF7EC, #1EC043) //White text for better visibility

.minicard-yellow
  minicard-color(rgba(250, 217, 0, 0,2),#777777)

.minicard-orange
  minicard-color(#FFF4ED,#FF8D38)

.minicard-red
  minicard-color(#FDEEEC, #F82400) //White text for better visibility

.minicard-purple
  minicard-color(rgba(166, 50, 219, 0.2), #a632db) //White text for better visibility

.minicard-blue
  minicard-color(#E5F1FB, #2999FF) //White text for better visibility

.minicard-pink
  minicard-color(rgba(255, 10, 161, 0.2),#ff0aa1)

.minicard-sky
  minicard-color(rgba(0, 194, 224, 0.2), #777777) //White text for better visibility

.minicard-black
  minicard-color(#777777, #ffffff) //White text for better visibility

.minicard-lime
  minicard-color(rgba(81, 232, 152, 0.2),#777777)

.minicard-silver
  minicard-color(rgba(192, 192, 192, 0.2),#777777 )

.minicard-peachpuff
  minicard-color(rgba(255, 218, 185, 0.2),#ff7f0f )

.minicard-crimson
  minicard-color(rgba(220, 20, 60, 0.2), rgba(220, 20, 60, 1)) //White text for better visibility

.minicard-plum
  minicard-color(rgba(221, 160, 221, 0.2),#b441b4)

.minicard-darkgreen
  minicard-color(rgba(0, 100, 0, 0.2), #006400) //White text for better visibility

.minicard-slateblue
  minicard-color(rgba(106, 90, 205, 0.2), #6a5acd) //White text for better visibility

.minicard-magenta
  minicard-color(rgba(255, 0, 255, 0.2), #ff00ff) //White text for better visibility

.minicard-gold
  minicard-color(rgba(255, 215, 0, 0.2),#777777 )

.minicard-navy
  minicard-color(rgba(0, 0, 128, 0.2), #000080) //White text for better visibility

.minicard-gray
  minicard-color(rgba(52, 52, 52, 0.2),#343434) //White text for better visibility

.minicard-saddlebrown
  minicard-color(rgba(139, 69, 19, 0.2), #8b4513) //White text for better visibility

.minicard-paleturquoise
  minicard-color(rgba(175, 238, 238, 0.2),#777777)

.minicard-mistyrose
  minicard-color( rgba(255, 228, 225, 0.2),#777777)

.minicard-indigo
  minicard-color(rgba(75, 0, 130, 0.2), #4b0082) //White text for better visibility

.text-red
  color:red
.text-green
  color:green
