@import 'nib'

/*
// Minimize swimlanes start https://www.w3schools.com/howto/howto_js_accordion.asp

.accordion
  cursor: pointer
  width: 30px
  height: 20px
  border: none
  outline: none
  font-size: 18px
  transition: 0.4s
  padding-top: 0px
  margin-top: 0px

.accordion:after
  // Unicode triagle right:
  content: '\25B6'
  color: #777
  font-weight: bold
  float: left

.active:after
  // Unicode triangle down:
  content: '\25BC'

.panel
  width: 100%
  max-height: 0
  overflow: hidden
  transition: max-height 0.2s ease-out
  margin: 0px
  padding: 0px

// Minimize swimlanes end https://www.w3schools.com/howto/howto_js_accordion.asp
*/

.swimlane
  // Even if this background color is the same as the body we can't leave it
  // transparent, because that won't work during a swimlane drag.
  background: #ffffff
  display: flex
  flex-direction: row
  overflow: 0;
  flex-basis: 100%
  max-height: calc(100% - 26px)
  margin-bottom: 10px

  &.placeholder
    background-color: rgba(0, 0, 0, .2)
    border-color: transparent
    box-shadow: none
    height: 100px

  &.ui-sortable-helper
    box-shadow: -2px 2px 8px rgba(0, 0, 0, .3),
                0 0 1px rgba(0, 0, 0, .5)
    transform: rotate(2deg)
    cursor: grabbing

    .swimlane-header.ui-sortable-handle
      cursor: grabbing

  .swimlane-header-wrap
    display: flex
    flex-direction: row
    flex: 1 0 auto
    background-color: #ccc

 // .swimlane:first-child
 //   display: inline-block
 //   width: 100%

    .swimlane-header
      font-size: 14px
      padding: 5px 5px
      font-weight: bold
      min-height: 9px
      width: 100%
      overflow: hidden
      -o-text-overflow: ellipsis
      text-overflow: ellipsis
      word-wrap: break-word
      text-align: center

    .swimlane-header-menu
      position: absolute
      padding: 5px 5px

    .swimlane-header-plus-icon
      margin-left: 5px
      margin-right: 10px

    .swimlane-header-handle
      position: absolute
      padding: 7px
      top: 50%
      transform: translateY(-50%)
      left: 230px
      font-size: 18px

    .swimlane-header-miniscreen-handle
      position: absolute
      padding: 7px
      top: 50%
      transform: translateY(-50%)
      left: 87vw
      font-size: 24px

.list-group
  height: 100%

.js-lists
  overflow-y: auto;
.moving-swimlane
  display: none

swimlane-color(background, color...)
  background: background !important
  if color
    color: color !important //overwrite text for better visibility

.swimlane-white
  swimlane-color(#ffffff, #777777) //Black text for better visibility
  border: 1px solid #eee

.swimlane-green
  swimlane-color(#EAF7EC, #1EC043) //White text for better visibility

.swimlane-yellow
  swimlane-color(rgba(250, 217, 0, 0,2), #777777)  //Black text for better visibility

.swimlane-orange
  swimlane-color(#FFF4ED, #FF8D38) //Black text for better visibility

.swimlane-red
  swimlane-color(#FDEEEC, #F82400) //White text for better visibility

.swimlane-purple
  swimlane-color(rgba(166, 50, 219, 0.2), #a632db) //White text for better visibility

.swimlane-blue
  swimlane-color(#E5F1FB,#2999FF)  //White text for better visibility

.swimlane-pink
  swimlane-color(rgba(255, 10, 161, 0.2), #ff0aa1) //Black text for better visibility

.swimlane-sky
  swimlane-color(rgba(0, 194, 224, 0.2), #777777) //White text for better visibility

.swimlane-black
  swimlane-color(#777777, #ffffff) //White text for better visibility

.swimlane-lime
  swimlane-color(rgba(81, 232, 152, 0.2), #777777) //Black text for better visibility

.swimlane-silver
  swimlane-color(rgba(192, 192, 192, 0.2), #777777)//Black text for better visibility

.swimlane-peachpuff
  swimlane-color(rgba(255, 218, 185, 0.2), #ff7f0f) //Black text for better visibility

.swimlane-crimson
  swimlane-color(rgba(220, 20, 60, 0.2), rgba(220, 20, 60, 1)) //White text for better visibility

.swimlane-plum
  swimlane-color(rgba(221, 160, 221, 0.2), #b441b4) //Black text for better visibility

.swimlane-darkgreen
  swimlane-color(rgba(0, 100, 0, 0.2), #006400) //White text for better visibility

.swimlane-slateblue
  swimlane-color(rgba(106, 90, 205, 0.2), #6a5acd) //White text for better visibility

.swimlane-magenta
  swimlane-color(rgba(255, 0, 255, 0.2), #ff00ff) //White text for better visibility

.swimlane-gold
  swimlane-color(rgba(255, 215, 0, 0.2), #777777)//Black text for better visibility

.swimlane-navy
  swimlane-color(rgba(0, 0, 128, 0.2), #000080) //White text for better visibility

.swimlane-gray
  swimlane-color(rgba(52, 52, 52, 0.2), #343434) //White text for better visibility

.swimlane-saddlebrown
  swimlane-color(rgba(139, 69, 19, 0.2), #8b4513) //White text for better visibility

.swimlane-paleturquoise
  swimlane-color(rgba(175, 238, 238, 0.2), #777777 ) //Black text for better visibility

.swimlane-mistyrose
  swimlane-color(rgba(255, 228, 225, 0.2), #777777 ) //Black text for better visibility

.swimlane-indigo
  swimlane-color(rgba(75, 0, 130, 0.2), #4b0082) //White text for better visibility
